* {
 margin: 0;
 padding: 0;
}

#gridwrapper_home {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80px 500px 1100px 500px 300px;
    grid-template-areas:
    "he"
    "we"
    "se"
    "ot"
    "fo";
}

header {
    grid-area: he;
    background-color: rgb(32, 32, 33);
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

#logo_and_name {
    display: flex;
    align-items: center; 
}   

#logo {
    height: 60px;
    width: auto;
}

#name {
    color: rgb(250, 250, 250);
    font-size: 1.5rem;
}

#name2 {
    color: rgb(250, 250, 250);
    text-align: center;
    font-size: 0.9rem;
}

#burger div {
    width: 35px;
    height: 3px;
    background-color:rgb(250, 250, 250);
    margin: 7px;
    border-radius: 5px;
    transition: all 0.3s;
    margin-right: 20px;
}

#nav_links {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 100%;
    background-color: rgb(32, 32, 33);
    justify-content: space-around;
    position: absolute;
    top: -400px;
    right: 0px;
    transition: all 0.4s;
    z-index: -1;
}

#nav_links li {
    list-style: none;
    border-top: solid rgb(27, 27, 28) 2px;
    height: 100%;
    display: flex;
    align-items: center;
}

#nav_links a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
}

#nav_links p {
    margin-left: 15px;
    color: rgb(250, 250, 250);
    font-size: 1.3rem;
}

#nav_links a:hover {
    cursor: pointer;
    text-decoration: underline;
    transition: 0.2s;
}

#burger {
    cursor: pointer;
}

.burger_toggle #line2 {
    opacity: 0;
}

.burger_toggle #line1 {
    transform: rotate(-45deg) translate( -4.5px, 10px);
}

.burger_toggle #line3 {
    transform: rotate(45deg) translate( -4.5px, -10px);
}

.nav_active {
    transform: translateY(480px);
}

#welcome {
    grid-area: we;
    background-image: url(/img/jj-shev-VrxWLZnCcBA-unsplash.jpg);
    background-size: 100% auto;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    color: rgb(250, 250, 250);
    font-family: 'Questrial', sans-serif;
    font-size: 5vh;
    text-align: center;
}

.slogan {
    color: rgb(250, 250, 250);
    font-size: 2.8vh;
    text-align: center;
    font-family: 'Questrial', sans-serif;
}

#services {
    background-color: rgb(233, 233, 233);
    display: grid;
    grid-template-rows: 10vh auto auto;
    grid-template-columns: 92vw;
    grid-gap: 5vh;
    padding-top: 4vh;
    justify-content: center;
    grid-template-areas: 
    "s1"
    "s2"
    "s3"
    ;
    padding-bottom: 5vh ;
}

#service1 {
    grid-area: s1;
    text-align: center;
    font-family: 'Questrial', sans-serif;
}

#service1 h2{
    font-size: 4vh;
}

#service1 p{
    margin-top: 1.5vh;
    font-size: 2.5vh;
    overflow: hidden;
}

#service2 {
    grid-area: s2;
    background-color: rgb(250, 250, 250);
    border-radius: 0.5vh;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    overflow: hidden;
    text-decoration: none;
    transition: 0.3s;
}

#service3 {
    grid-area: s3;
    background-color: rgb(250, 250, 250);
    border-radius: 0.5vh;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    overflow: hidden;
    text-decoration: none;
    transition: 0.3s;
}

#service2:hover {
    transform:translate(0vh, -0.35vh);
    z-index: 1;
}

#service3:hover {
    transform:translate(0vh, -0.35vh);
    z-index: 1;
}

.gridwrapper_mini {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 70% 17.5% 17.5%;
    grid-template-areas:
    "si"
    "sn"
    "bb"
    ;
}

.service_img {
    grid-area: si;
}

#service_img1 {
    background-image: url(/img/allef-vinicius-IvQeAVeJULw-unsplash.jpg);
    background-position: center;
    background-size: 100% auto;
    border-top-left-radius: 0.5vh;
    border-top-right-radius: 0.5vh;
}

#service_img2 {
    background-image: url(/img/dwi-rina-0_8qlYOmX7g-unsplash.jpg);
    background-position: center;
    background-size: 100% auto;
    border-top-left-radius: 0.5vh;
    border-top-right-radius: 0.5vh;
}

.service_name {
    grid-area: sn;
    display: flex;
    align-items: center;
    padding-left: 1vh;
    color: rgb(32, 32, 33);
    font-family: 'Questrial', sans-serif;
    font-size: 2.5vh;
    font-weight: bolder;
}

.book_button {
    grid-area: bb;
    text-align: center;
    border-top: solid 1px rgb(227, 227, 227);
    padding-top: 1.5vh;
    text-decoration: none;
    color: rgb(103, 103, 103);
    transition: 0.3s;
    font-family: 'Questrial', sans-serif;
}

.book_button:hover {
    background-color: rgb(225, 225, 225);
    color: rgb(92, 92, 92);
}


#other_services {
    grid-area: ot;
    background-color: rgb(250, 250, 250);
    margin: 2.5vh 0 0 20px;
}

#other_services h2 {
    font-family: 'Questrial', sans-serif;
    margin-bottom: 2.5vh;
    font-size: 3.8vh;
}

#other_services p{
    font-family: 'Questrial', sans-serif;
    font-size: 2.5vh;
}

.service_list {
    margin-bottom: 50px;
}


.service_list li{
    font-family: 'Questrial', sans-serif;
    margin-bottom: 7px;
    font-size: 3vh;
}

footer {
    grid-area: fo;
    background-color: rgb(32, 32, 33);
    position: relative;
}

.footer_logo_name {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3vh;
}

#name_footer {
    font-size: 40px;
    color: rgb(250, 250, 250);
}

#name_footer2{
    font-size: 18px;
    color: rgb(250, 250, 250);
}

#footer_logo {
    height: 75px;
    width: auto;
}

.insta_fb {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 7vh;
}

#facebook {
    height: 37px;
    width: auto;
}

#insta {
    height: 37px;
    width: auto;
}

.footer_text {
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 10px 15px 10px;
}

.footer_text p {
    color: rgb(250, 250, 250);
    font-family: 'Questrial', sans-serif;
}

#gridwrapper_open_hours{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80px calc(100vh - (80px + 300px)) 300px;
    grid-template-areas:
    "he"
    "oh"
    "fo";
}

#open_hours {
    grid-area: oh;
}

#opening_hours h2 {
    text-align: center;
    font-family: 'Questrial', sans-serif;
    font-size: 2rem;
    margin: 20px 0 40px 0;
}

.schedule {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-content: center;
    margin: 0 20px 0 20px;
}

.day_time {
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
}

.day_time p {
    font-family: 'Questrial', sans-serif;
}

.day {
    font-weight: bolder;
}

@media screen and (min-width: 800px) {

}